params {
	something = "this is from the config, blah!"

	//TODO: want to replace this with entry_points from setup.py
	script_dir = "/g/scb/bork/schudoma/mge_profile/scripts"

	// path to recombinase hmms
	recombinase_hmm_db = "/g/scb2/bork/khedkar/jumpAR/data_hmm/flank_analysis/10CV_analysis/mgeR_HMM_annotation/hmm/all_rec_68.hmm"

	// path to eggnog database
	eggnog_db =  "/g/scb/bork/schudoma/mge_profile/eggnog_data"

	// path to deps
	dependencies_dir = "/g/scb/bork/schudoma/mge_profile/deps"


	genome_db = "/g/scb2/bork/schudoma/amend_freeze12/freeze12_eggnog_annotated.gff.amended.1.non_redundant_keggpw"
	genes_db = "/g/scb2/bork/schudoma/amend_gmgc/GMGC10.emapper2.annotations.tsv.non_redundant_keggpw.gz"

}

/* section below needs to be adjusted to local cluster */

executor {
	$slurm {
		queueSize = 10
	}
	$local {
		cpus = 1
		memory = '2 GB'
	}
}

process {
	withName: run_gffquant {
		executor = "slurm"
		cpus = 1
		memory = 16.GB
		//queue = 'htc'
		time = '12h'
	}
}
