params {
    genome_db = "/g/scb2/bork/schudoma/amend_freeze12/freeze12_eggnog_annotated.gff.amended.1.non_redundant_keggpw"
    genes_db = "/g/scb2/bork/schudoma/amend_gmgc/GMGC10.emapper2.annotations.tsv.non_redundant_keggpw.gz"
    publish_mode = "link"
}

/* section below needs to be adjusted to local cluster */

executor {
	$slurm {
		queueSize = 20
	}
	$local {
		cpus = 1
		memory = '2 GB'
	}
}

process {
	withName: run_gffquant {
		container = "oras://ghcr.io/cschu/gff_quantifier:latest"
		executor = "slurm"
		errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
		cpus = 1
		memory = {16.GB * task.attempt}
		//queue = 'htc'
		time = '24h'
		maxRetries = 4
		
	}
}

singularity {
	enabled = true
	autoMounts = true
}